body {
  background-color: #d0e4fe;
  background-image: url('lol.jpg');
  background-size: 100vw 100vh;
}

h1 {
  color: orange;
  text-align: center;
}

p {
  font-family: "Courier New";
  font-size: 30px;
}

#center {
    text-align: center;
}