<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>( ͡⚆ ͜ʖ ͡⚆)</h1>

<div id="center">
  <p id="demo">
    this is me as a meme
  </p>

  <button type="button" onclick="myFunction()">
    Try it
  </button>
</div>

</body>

</html>